.form,
.wrapperInputs {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
@media screen and (min-width: 768px) {
	.form {
		gap: 24px;
	}
}
@media screen and (min-width: 768px) {
	.form .wrapperFormBody {
		display: flex;
		flex-direction: row;
		width: 100%;
		gap: 18px;
	}
}
@media screen and (min-width: 1440px) {
	.form .wrapperFormBody {
		gap: 24px;
	}
}

@media screen and (min-width: 1440px) {
	.form .wrapperFormBodyFooter {
		flex-direction: column;
		gap: 40px;
	}
}

@media screen and (min-width: 768px) {
	.form .wrapperInputs {
		width: 222px;
		align-items: flex-start;
		gap: 16px;
	}
}
@media screen and (min-width: 1440px) {
	.form .wrapperInputs {
		width: 290px;
		gap: 24px;
	}
}
@media screen and (min-width: 768px) {
	.form .wrapperInputsFooter {
		width: 221px;
	}
}

@media screen and (min-width: 1440px) {
	.form .wrapperInputsFooter {
		width: 100%;
		flex-direction: row;
		gap: 20px;
	}
}

.form div {
	display: flex;
	flex-direction: column;
	gap: 4px;
	width: 100%;
}

.form label {
	font-size: 12px;
	font-weight: 200;
	line-height: 24px;
	letter-spacing: 0.2em;
	text-align: left;
	width: fit-content;
}
.form input {
	font-size: 13px;
	font-weight: 200;
	line-height: 24px;
	letter-spacing: 0em;
	width: 100%;
	height: 24px;
}
@media screen and (min-width: 1440px) {
	.form input {
		height: 28px;
	}
}

.form input,
.form textarea {
	background-color: rgba(255, 255, 255, 0.05);
	padding-left: 8px;
}

.form textarea {
	height: 196px;
	resize: none;
}

@media screen and (min-width: 768px) {
	.form textarea {
		height: 228px;
	}
}
@media screen and (min-width: 1440px) {
	.form textarea {
		height: 268px;
	}
}

.form .textareaFooter {
	height: 193px;
}

@media screen and (min-width: 768px) {
	.form .textareaFooter {
		height: 221px;
	}
}
@media screen and (min-width: 1440px) {
	.form .textareaFooter {
		height: 174px;
	}
}

@media screen and (min-width: 768px) {
	.form .message {
		width: 221px;
	}
}

@media screen and (min-width: 1440px) {
	.form .message {
		width: 292px;
	}
}
@media screen and (min-width: 768px) {
	.form .messageFooter {
		width: calc(100% - 241px);
	}
}
@media screen and (min-width: 1440px) {
	.form .messageFooter {
		width: 100%;
	}
}

.wrapperInput {
	position: relative;
}
.form .error {
	position: absolute;
	bottom: 0;
	right: 0;

	font-size: 12px;
	font-weight: 200;
	line-height: 24px;
	letter-spacing: 0.2em;

	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 4px;

	transform: translateY(100%);

	color: #ff5757;
}
.form .phone {
	padding-left: 42px;
}

.startPhone {
	position: absolute;
	top: 50%;
	left: 8px;
	transform: translateY(-50%);
	font-size: 13px;
	font-weight: 200;
	line-height: 24px;
	letter-spacing: 0em;
}
.notCorrect {
	color: #ff5757;
}
.correct {
	color: #ffffff;
}
.form input::placeholder {
	font-size: 13px;
	font-weight: 200;
	line-height: 24px;
	letter-spacing: 0em;
	color: rgba(255, 255, 255, 0.2);
}

.form .wrapperConfirm {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

@media screen and (min-width: 768px) {
	.form .wrapperConfirm {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
}

.form .checkbox {
	display: flex;
	gap: 8px;
	max-width: 100%;
}

.notActiveConfirm {
	color: rgb(128, 128, 128);
}

label .checkboxOut {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 22px;
	height: 22px;
	border: 1px solid #fff;
}
.checkboxOut.notActiveConfirm {
	border-color: rgb(128, 128, 128);
}

label .checkboxIn {
	width: 14px;
	height: 14px;
}
.notValid {
	background-color: rgba(255, 255, 255, 0.1);
}
.valid {
	background-color: #fff;
}

.confirmText {
	font-size: 12px;
	font-weight: 200;
	line-height: 24px;
	letter-spacing: 0em;
}

@media screen and (min-width: 768px) {
	.confirmText {
		display: inline-block;
		line-height: 22px;
		width: 192px;
	}
}
@media screen and (min-width: 1440px) {
	.confirmText {
		display: inline-block;
		line-height: 24px;
		width: 258px;
	}
}

.form .notVisibil {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.btnSend {
	font-size: 30px;
	font-weight: 500;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;

	width: fit-content;
}
@media screen and (min-width: 1440px) {
	.btnSend {
		font-family: Inter;
		font-size: 32px;
		line-height: 39px;
	}
}

@media screen and (min-width: 768px) {
	.form .footerStyle {
		justify-content: flex-end;
	}
}
@media screen and (min-width: 1440px) {
	.form .footerStyle {
		width: 607px;
	}
}
